---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=%7B%22location%22=%3E%22san%20francisco,ca%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 15:44:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"san
        francisco,ca\"}"},"locations":[{"street":"Calle A. San Francisco","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Santiago","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Nuevo
        Le\u00F3n","adminArea3Type":"State","adminArea1":"MX","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"MX/STR/p0/387972","unknownInput":"","type":"s","latLng":{"lat":25.38262,"lng":-100.16054},"displayLatLng":{"lat":25.38262,"lng":-100.16054},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=25.38262,-100.16054|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-321264255"},{"street":"Calle
        A San Francisco","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Toluca","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Estado
        de M\u00E9xico","adminArea3Type":"State","adminArea1":"MX","adminArea1Type":"Country","postalCode":"51350,
        5135[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<map_api_key>&location=%23%3CLocation:0x00007fd66057df08%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 15:44:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"#<Location:0x00007fd66057df08>"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_api_key>&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-1516124205"}]}]}'
  recorded_at: Wed, 28 Sep 2022 15:44:01 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664379840,"sunrise":1664368167,"sunset":1664411053,"temp":64.47,"feels_like":62.46,"pressure":1028,"humidity":39,"dew_point":39,"uvi":2.97,"clouds":0,"visibility":10000,"wind_speed":12.06,"wind_deg":116,"wind_gust":16.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664377200,"temp":63.7,"feels_like":61.65,"pressure":1028,"humidity":40,"dew_point":38.95,"uvi":1.43,"clouds":0,"visibility":10000,"wind_speed":12.08,"wind_deg":111,"wind_gust":18.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664380800,"temp":64.47,"feels_like":62.46,"pressure":1028,"humidity":39,"dew_point":39,"uvi":2.97,"clouds":0,"visibility":10000,"wind_speed":12.06,"wind_deg":116,"wind_gust":16.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664384400,"temp":65.32,"feels_like":63.34,"pressure":1028,"humidity":38,"dew_point":39.09,"uvi":4.57,"clouds":0,"visibility":10000,"wind_speed":12.39,"wind_deg":117,"wind_gust":15.39,"weather":[{"id":800,"main[...]
